extends ../layout/basic

block content
	br
	br
	h3= title	
	

	for todo,index in todos.reverse()
		div
		if todo.id == getid
			form(action='/todo/update/'+todo.id method='POST')
				input(type='text' name='getitem' value=todo.item)
				button(type='submit') save
		else
			input(value=todo.content readonly)
			a(href='/todo/delete/'+todo.id style='margin:10px;') del
			a(href='/todo/edit/'+todo.id style='margin:5px;') edit



