extends ../layout/nav


block content
    br
    br
    h3 Todo List
    a(href='/') 回首頁
    br
    br
    form(action="/todo/add" method = "POST")
        div 輸入待辦事項:
        input(type="text" name="add") 
        br
        br

    if todos
        for todo,index in todos.reverse()
            div
                input(value=todo.item id='getcontent' readonly)
                a(href='/todo/delete/'+todo.id style='margin:10px;') del
                a(href='/todo/edit/'+todo.id style='margin:5px;') edit


